@import '../../utils/responsiveQuery.scss';

.main-section {
  .video-grid-card {
    box-shadow: none;

    .video-thumbnail {
      height: 20.25rem;
      @include mobile {
        height: 10rem;
      }
    }

    .video-content {
      background-color: #1e1e1e;
      height: 106px;
      @include mobile {
        padding: 0;
        padding-top: 1rem;
      }

      .MuiTypography-subtitle1 {
        font-size: 1.6rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
      }
      .channel-info {
        display: flex;
        align-items: center;
        .channel-title {
          color: #dddd;
          font-size: 1.4rem;
          margin-right: 0.4rem;
        }
        .channel-icon {
          color: #dddd;
        }
      }
    }
  }
}

#video-detail-page {
  @include tablet {
    .video-grid-card {
      display: flex;
      background-color: transparent;
      .video-thumbnail {
        height: 15rem;
        width: 26.7rem;
      }
      .video-content {
        height: 100%;
      }
    }
  }
}
