@import '../../utils/responsiveQuery.scss';

.main-section {
  .video-grid-card {
    flex-basis: 22%;
    box-shadow: none;

    @include mobile {
      flex-basis: 48%;
    }
    .video-thumbnail {
      height: 20.25rem;
    }

    .video-content {
      background-color: #1e1e1e;
      height: 106px;

      .MuiTypography-subtitle1 {
        font-size: 1.6rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
      }
      .channel-info {
        display: flex;
        align-items: center;
        .channel-title {
          color: #dddd;
          font-size: 1.4rem;
          margin-right: 0.4rem;
        }
        .channel-icon {
          color: #dddd;
        }
      }
    }
  }
}
