@import '../../utils/responsiveQuery.scss';

.main-section {
  .channel-grid-card {
    box-shadow: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    @include mobile {
      flex-basis: 48%;
    }
    .channel-thumbnail {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      @include mobile {
        width: 10rem;
        height: 10rem;
      }
    }

    .channel-content {
      margin-top: 2rem;
      background-color: #1e1e1e;

      .channel-title {
        text-align: center;
        .channel-name {
          color: #eee;
          font-size: 1.6rem;
          font-weight: bold;
        }
        .channel-icon {
          color: #eeee;
          font-size: 1.6rem;
        }
      }
    }
  }
}
