@import '../../utils/responsiveQuery.scss';

#default-layout {
  .main-section {
    display: flex;
    @include mobile {
      display: block;
    }
    .main-container {
      overflow-y: auto;
      height: 90vh;
    }
  }
}
