#search {
  border-radius: 2rem;
  font-size: 1.6rem;
  background-color: #eee;
  box-shadow: none;
  border: 1px solid #e3e3e3;
  padding-left: 1.5rem;
  display: flex;
  justify-content: space-between;

  .search-icon {
    padding: 1rem;
    width: 2rem;
    height: auto;
    color: red;
  }
  @media screen and (max-width: 375px) {
    margin-right: 1rem;
  }
}
