@import '../../utils/responsiveQuery.scss';
@import '../../utils/constant.scss';
@import '../../utils/responsiveQuery.scss';

#search {
  border-radius: 2rem;
  font-size: 1.6rem;
  background-color: #eee;
  box-shadow: none;
  border: 1px solid #e3e3e3;
  padding-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  .search-bar {
    border: none;
    outline: none;
    width: 35rem;
    @include tablet {
      width: 20rem;
    }
  }
  @include mobile {
    border-radius: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 8.4rem;
    .search-bar {
      padding-left: 1rem;
    }
  }
  &.mobile {
    border: none;
    width: max-content;
    background-color: transparent;
    &.searching {
      width: 100vw;
      background-color: #eee;
    }
  }
}
#navbar {
  .search-icon {
    padding: 1rem;
    margin-right: 0.5rem;
    font-size: 2rem;
    height: auto;
    color: $primary-color;
    @include mobile {
      font-size: 2rem;
    }
  }
  .close-icon {
    padding: 1rem;
    margin-right: 0.5rem;
    font-size: 2rem;
    height: auto;
    color: $primary-color;
    @include mobile {
      font-size: 2rem;
    }
  }
}
