@import './utils/constant.scss';
@import './utils/responsiveQuery.scss';
:root {
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: none;
  border: none;
  background: none;
  &:focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: $scroll-bar-width;
  height: 5px;
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  opacity: 0.6;
  border-radius: 10px;
  height: 150px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

#root {
  .color-red {
    color: #fc1503;
  }
}
